# Ignorar a pasta .metadata
.metadata/
.metadata

# Ignorar vscode
.vscode

# Ignorar arquivos de log
*.log

# Ignorar a pasta node_modules (comum em projetos Node.js)
node_modules/

# Ignorar arquivos de configuração local
.env
.DS_Store