<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
    <script src="/js/scripts.js"></script>
  	<title>Load Tool - </title>
  </head>

  <body id="body" class="d-flex flex-column min-vh-100">
  <header th:replace="~{fragments/header :: header}"></header>

  <main role="main" class="flex-grow-1 dark-mode-bg1">
    



    
  </main>

  <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>