<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/scripts.js"></script>
    <link
      rel="stylesheet"
      href="/css/styles.css"
      th:href="@{/css/styles.css}"
      id="themeStylesheet"
    />
    <title>Load Tool - Cadastro de Usuário</title>
  </head>

  <body id="body" class="d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header :: header}"></header>

    <main role="main" class="flex-grow-1 dark-mode-bg1">
      <div class="container py-3">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="mb-3">Cadastro</h3>

            <form th:action="@{/users}" th:object="${user}" method="post">
              <input
                type="hidden"
                th:if="${userId}"
                th:name="userId"
                th:value="${userId}"
              />

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="userName">Nome completo</label>
                  <input
                    type="text"
                    class="form-control dark-mode-bg2"
                    id="userName"
                    th:field="*{name}"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                  ></div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="userEmail">E-mail</label>
                  <input
                    type="email"
                    class="form-control dark-mode-bg2"
                    id="userEmail"
                    th:field="*{email}"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                  ></div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="userPhone">Telefone</label>
                  <input
                    type="tel"
                    class="form-control dark-mode-bg2"
                    id="userPhone"
                    th:field="*{phone}"
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('phone')}"
                    th:errors="*{phone}"
                  ></div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="userAddress">Endereço</label>
                  <input
                    type="text"
                    class="form-control dark-mode-bg2"
                    id="userAddress"
                    th:field="*{address}"
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('address')}"
                    th:errors="*{address}"
                  ></div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="userPassword">Senha</label>
                  <input
                    type="text"
                    class="form-control dark-mode-bg2"
                    id="userPassword"
                    th:field="*{password}"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"
                  ></div>
                </div>

                <div class="col-md-12 mb-3 mt-3">
                  <a th:href="@{/users}" class="btn btn-outline-secondary"
                    >Voltar</a
                  >
                  <input
                    type="submit"
                    class="btn btn-block btn-primary text-white"
                    value="Salvar"
                  />
                  <a
                    th:href="@{'/users/delete/' + ${userId}}"
                    class="btn btn-block btn-danger text-white"
                    onclick="return confirm('Tem certeza que deseja excluir este usuário?');"
                    >Excluir</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="/js/darkmode.js"></script>
    <script>
      (function () {
        "use strict";
        window.addEventListener(
          "load",
          function () {
            var forms = document.getElementsByClassName("needs-validation");
            Array.prototype.filter.call(forms, function (form) {
              form.addEventListener(
                "submit",
                function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();
    </script>
  </body>
</html>
